<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
    <h3>Create a New Listing</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
        <input 
            name="listing[title]" 
            placeholder="enter title" 
            type="text" 
            class="form-control"
            required
            /> 
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Enter a proper title!</div>            
        </div>
        <div class="mb-3">
            <label for="description" class="form-lable">Description</label>
            <textarea 
            name="listing[description]" 
            class="form-control"
            required
            ></textarea>
            <div class="valid-feedback">Description looks good!</div>
            <div class="invalid-feedback">Enter a Short Description!</div>
        </div>
        <div class="mb-3">
            <label for="image" class="form-lable">Upload Image</label>
            <input name="listing[image]"
            type="file" 
            class="form-control"
            required>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-lable">Price</label>
                <input 
                name="listing[price]" 
                placeholder="enter price" 
                type="number"
                class="form-control"
                required
                >
                <div class="valid-feedback">Price valid!</div>
            <div class="invalid-feedback">Enter a Valid Price!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-lable">Country</label>
                <input 
                name="listing[country]" 
                placeholder="enter country" 
                type="text"
                class="form-control"
                required
                >
                <div class="valid-feedback">Country Name Valid!</div>
            <div class="invalid-feedback">Enter a Valid  country name!</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="location" class="form-lable">Location</label>
            <input 
            name="listing[location]" 
            type="text"
            class="form-control"
            required
            >
            <div class="valid-feedback">Location Valid!</div>
            <div class="invalid-feedback">Enter a Valid Location!</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
    </form>
</div>
</div>